<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        (function(d) {
            let config = {
                    kitId: 'jfo5nkt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>

    <script>
        (function(d) {
            let config = {
                    kitId: 'jfo5nkt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
    <title>M&L Kitchen Dashboard</title>
</head>
<body>
<div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <a href="./index.html" class="cartoon text-white text-lg">M&L</a>
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="/kitchen" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
                <a href="/index" class="bg-red-600 hover:bg-red-500 text-white rounded-md px-3 py-2 text-sm font-medium">Exit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Kitchen Dashboard</h1>
      </div>
    </header>
    <!-- Page Content Block -->
    <main>
      <div class="mx-auto max-w-7xl py-6 grid grid-cols-2 gap-4 place-content-center">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
           <!-- Order Block -->
          <div class="p-3 bg-white shadow rounded-lg">
            <h3 class="text-xs border-b pb-2 font-bold">Order #4132</h3>
              <li>
                Pizza
              </li>
              <li>
                Coca Cola
              </li>
            <!-- Order Progress Buttons -->
            <div class="border-t pt-2 flex justify-between">
              <a href="#" class="hover:bg-blue-400 items-center rounded-md bg-blue-500 text-white text-sm font-medium px-5 py-1 shadow-sm">
                Start
              </a>
              <a href="#" class="hover:bg-red-400 items-center rounded-md bg-red-500 text-white text-sm font-medium px-5 py-1 shadow-sm">
                Finish
              </a>
            </div>
          </div>
          <!-- Next Order Block -->
          <div class="p-3 bg-white shadow rounded-lg">
            <h3 class="text-xs border-b pb-2 font-bold">Order #4132</h3>
              <li>
                Pizza
              </li>
              <li>
                Coca Cola
              </li>
            <!-- Order Progress Buttons -->
            <div class="border-t pt-2 flex justify-between">
              <a href="#" class="hover:bg-blue-400 items-center rounded-md bg-blue-500 text-white text-sm font-medium px-5 py-1 shadow-sm">
                Start
              </a>
              <a href="#" class="hover:bg-red-400 items-center rounded-md bg-red-500 text-white text-sm font-medium px-5 py-1 shadow-sm">
                Finish
              </a>
            </div>
          </div>
          <!-- Next Order Block -->
          <div class="p-3 bg-white shadow rounded-lg">
            <h3 class="text-xs border-b pb-2 font-bold">Order #4132</h3>
              <li>
                Pizza
              </li>
              <li>
                Coca Cola
              </li>
            <!-- Order Progress Buttons -->
            <div class="border-t pt-2 flex justify-between">
              <a href="#" class="hover:bg-blue-400 items-center rounded-md bg-blue-500 text-white text-sm font-medium px-5 py-1 shadow-sm">
                Start
              </a>
              <a href="#" class="hover:bg-red-400 items-center rounded-md bg-red-500 text-white text-sm font-medium px-5 py-1 shadow-sm">
                Finish
              </a>
            </div>
          </div>
          <!-- Next Order Block -->
          <div class="p-3 bg-white shadow rounded-lg">
            <h3 class="text-xs border-b pb-2 font-bold">Order #4132</h3>
              <li>
                Pizza
              </li>
              <li>
                Coca Cola
              </li>
            <!-- Order Progress Buttons -->
            <div class="border-t pt-2 flex justify-between">
              <a href="#" class="hover:bg-blue-400 items-center rounded-md bg-blue-500 text-white text-sm font-medium px-5 py-1 shadow-sm">
                Start
              </a>
              <a href="#" class="hover:bg-red-400 items-center rounded-md bg-red-500 text-white text-sm font-medium px-5 py-1 shadow-sm">
                Finish
              </a>
            </div>
          </div>
          <!-- Next Order Block -->
        </div>
        <!-- Smart Oven Block -->
        <div class="border-l-2 pl-4">
          <h1 class="text-center text-3xl font-bold pb-2">Smart Oven Overview</h1>
          <div class="bg-gray-100 rounded-xl shadow-lg">
            <div class="mx-auto max-w-7xl px-8 py-5">
              <dl class="grid grid-cols-3 gap-x-8 gap-y-16 text-center items-end">
                <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                  <dt class="text-base leading-7 text-gray-600">Order</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">#12312</dd>
                </div>
          
                <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                  <dt class="text-base leading-7 text-gray-600">Time</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">00:09</dd>
                </div>
          
                <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                  <dt class="text-base leading-7 text-gray-600">Status</dt>
                  <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Busy</dd>
                </div>
              </dl>
            </div>
          </div>          
        </div>
      </div>
    </main>
  </div>
</body>
</html>