<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        (function(d) {
            let config = {
                    kitId: 'jfo5nkt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!=="complete"&&a!=="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <script>
        (function(d) {
            let config = {
                    kitId: 'jfo5nkt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!=="complete"&&a!=="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
    <link href="/static/css/build.css" rel="stylesheet">
    <link href="/static/css/input.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu/addItemToCart.js') }}"></script>
    <title>M&L Menu</title>
</head>

<body class="bg">
    <!--M&L Nav Bar-->
    <nav class="fixed top-10 w-full">
        <div class="mx-auto max-w-1xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <a href="/index"><img class="h-8 w-auto lg:block" src="../static/img/pizza.png" alt="M&L"></a>
                <a href="/index" class="cartoon text-black rounded-md px-3 py-2 text-xl font-medium">M&L Pizza</a>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class="flex space-x-4">
                    {% if current_user.role == 'administrator' %}
                    <a href="/kitchen" class="cartoon transition-all text-white hover:bg-gray-700 rounded-md px-3 py-2 text-sm font-medium bg-black">Kitchen Dashboard</a>
                    {% endif %}
                    <a href="/index" class="cartoon transition-all text-white hover:bg-blue-500 rounded-md px-3 py-2 text-sm font-medium">Home</a>
                    <a href="/menu" class="cartoon text-white hover:bg-black rounded-md px-3 py-2 text-sm font-medium bg-blue-600">Menu</a>
                    {% if current_user.role == 'customer' and 'order_id' in session %}
                        <a href="/orders" class="cartoon transition-all text-white hover:bg-blue-500 rounded-md px-3 py-2 text-sm font-medium">Order</a>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.is_active %}
                        <form action="/logout" method="POST">
                            <button type="submit" class="cartoon transition-all text-white hover:bg-blue-500 rounded-md px-3 py-2 text-sm font-medium">Logout</button>
                        </form>
                    {% else %}
                        <a href="/login" class="cartoon transition-all text-white hover:bg-blue-500 rounded-md px-3 py-2 text-sm font-medium">Login</a>
                    {% endif %}
                    <a href="#" class="cartoon transition-all text-white hover:bg-black rounded-md px-3 py-2 text-sm font-medium">Support</a>
                  </div>
            </div>
          </div>
            {% if message %}
              <div id="popup" class="popup">
                <p>{{ message }}</p>
              </div>
            {% endif %}
        </div>
    </nav>
<!--M&L Menu Content-->
        <div>
            <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                <!--M&L Start of product-->
                <div class="group relative">
            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="../static/img/pizza_menu/margherita.png" class="h-full w-full object-cover object-center" alt="">
            </div>
            <div class="bg-stone-100 p-1 rounded-bl-md rounded-br-md group-hover:opacity-75">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="cartoon text-sm text-black">
                            <span aria-hidden="true" class="cartoon inset-0">Margherita Pizza</span>
                        </h3>
                    </div>
                    <p class="cartoon text-sm font-medium">$7,99</p>
                </div>
                {% if current_user.is_authenticated and current_user.role == 'customer' %}
                <a href="#" onclick="addItemToCart('add-to-cart-form-margherita'); return false;" class="type text-lg grid place-content-center py-2" id="select-pizza">SELECT</a>
                {% else %}
                <a href="/login">
                {% endif %}
                </a>
                <span id="notification"></span>
            </div>
            <form id="add-to-cart-form-margherita" action="{{ url_for('cart_api_blueprint.add_to_cart') }}" method="POST">
                <input type="hidden" name="name" value="Margherita Pizza">
                <input type="hidden" name="description" value="A delicious blanco pizza">
                <input type="hidden" name="price" value="7.99">
            </form>
        </div>
        <!-- Next products -->
        <div class="group relative">
            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="../static/img/pizza_menu/pepperoni.png" class="h-full w-full object-cover object-center" alt="">
            </div>
            <div class="bg-stone-100 p-1 rounded-bl-md rounded-br-md group-hover:opacity-75">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="cartoon text-sm text-black">
                            <span aria-hidden="true" class="cartoon inset-0">Pepperoni Pizza</span>
                        </h3>
                    </div>
                    <p class="cartoon text-sm font-medium">$8,99</p>
                </div>
                {% if current_user.is_authenticated and current_user.role == 'customer' %}
                <a href="#" onclick="addItemToCart('add-to-cart-form-pepperoni'); return false;" class="type text-lg grid place-content-center py-2" id="select-pizza">SELECT</a>
                {% else %}
                <a href="/login">
                {% endif %}
                </a>
                <span id="notification"></span>
            </div>
            <form id="add-to-cart-form-pepperoni" action="{{ url_for('cart_api_blueprint.add_to_cart') }}" method="POST">
                <input type="hidden" name="name" value="Pepperoni Pizza">
                <input type="hidden" name="description" value="A delicious pizza with pepperoni toppings">
                <input type="hidden" name="price" value="8.99">
            </form>
        </div>
        <!-- Next products -->
        <div class="group relative">
            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="../static/img/pizza_menu/caprese.png" class="h-full w-full object-cover object-center" alt="">
            </div>
            <div class="bg-stone-100 p-1 rounded-bl-md rounded-br-md group-hover:opacity-75">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="cartoon text-sm text-black">
                            <span aria-hidden="true" class="cartoon inset-0">Caprese Pizza</span>
                        </h3>
                    </div>
                    <p class="cartoon text-sm font-medium">$8,99</p>
                </div>
                {% if current_user.is_authenticated and current_user.role == 'customer' %}
                <a href="#" onclick="addItemToCart('add-to-cart-form-caprese'); return false;" class="type text-lg grid place-content-center py-2" id="select-pizza">SELECT</a>
                {% else %}
                <a href="/login">
                {% endif %}
                </a>
                <span id="notification"></span>
            </div>
            <form id="add-to-cart-form-caprese" action="{{ url_for('cart_api_blueprint.add_to_cart') }}" method="POST">
                <input type="hidden" name="name" value="Caprese Pizza">
                <input type="hidden" name="description" value="The vegi option for the hippies">
                <input type="hidden" name="price" value="8.99">
            </form>
        </div>
        <!-- Next products -->
        <div class="group relative">
            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="../static/img/pizza_menu/mario_s.png" class="h-full w-full object-cover object-center" alt="">
            </div>
            <div class="bg-stone-100 p-1 rounded-bl-md rounded-br-md group-hover:opacity-75">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="cartoon text-sm text-black">
                            <span aria-hidden="true" class="cartoon inset-0">Mario's Special Pizza</span>
                        </h3>
                    </div>
                    <p class="cartoon text-sm font-medium">$11,99</p>
                </div>
                {% if current_user.is_authenticated and current_user.role == 'customer' %}
                <a href="#" onclick="addItemToCart('add-to-cart-form-mario-special'); return false;" class="type text-lg grid place-content-center py-2" id="select-pizza">SELECT</a>
                {% else %}
                <a href="/login">
                {% endif %}
                </a>
                <span id="notification"></span>
            </div>
            <form id="add-to-cart-form-mario-special" action="{{ url_for('cart_api_blueprint.add_to_cart') }}" method="POST">
                <input type="hidden" name="name" value="Mario Special Pizza">
                <input type="hidden" name="description" value="A special recommended pizza from Chef Mario">
                <input type="hidden" name="price" value="11.99">
            </form>
        </div>
        <!-- Next products -->
        <div class="group relative">
            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="../static/img/pizza_menu/luigi_s.png" class="h-full w-full object-cover object-center" alt="">
            </div>
            <div class="bg-stone-100 p-1 rounded-bl-md rounded-br-md group-hover:opacity-75">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="cartoon text-sm text-black">
                            <span aria-hidden="true" class="cartoon inset-0">Luigi's Special Pizza</span>
                        </h3>
                    </div>
                    <p class="cartoon text-sm font-medium">$11,99</p>
                </div>
                {% if current_user.is_authenticated and current_user.role == 'customer' %}
                <a href="#" onclick="addItemToCart('add-to-cart-form-luigi-special'); return false;" class="type text-lg grid place-content-center py-2" id="select-pizza">SELECT</a>
                {% else %}
                <a href="/login">
                {% endif %}
                </a>
                <span id="notification"></span>
            </div>
            <form id="add-to-cart-form-luigi-special" action="{{ url_for('cart_api_blueprint.add_to_cart') }}" method="POST">
                <input type="hidden" name="name" value="Luigi Special Pizza">
                <input type="hidden" name="description" value="A special recommended pizza from Chef Luigi">
                <input type="hidden" name="price" value="11.99">
            </form>
        </div>
        <!-- Drink List products -->
        <div class="group relative">
            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="../static/img/drink_menu/cola.png" class="h-full w-full object-cover object-center" alt="">
            </div>
            <div class="bg-stone-100 p-1 rounded-bl-md rounded-br-md group-hover:opacity-75">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="cartoon text-sm text-black">
                            <span aria-hidden="true" class="cartoon inset-0">Coca Cola</span>
                        </h3>
                    </div>
                    <p class="cartoon text-sm font-medium">$2,99</p>
                </div>
                {% if current_user.is_authenticated and current_user.role == 'customer' %}
                <a href="#" onclick="addItemToCart('add-to-cart-form-cola'); return false;" class="type text-lg grid place-content-center py-2" id="select-pizza">SELECT</a>
                {% else %}
                <a href="/login">
                {% endif %}
                </a>
                <span id="notification"></span>
            </div>
            <form id="add-to-cart-form-cola" action="{{ url_for('cart_api_blueprint.add_to_cart') }}" method="POST">
                <input type="hidden" name="name" value="Coca Cola">
                <input type="hidden" name="description" value="Cool down with a chill Coca Cola">
                <input type="hidden" name="price" value="2.99">
            </form>
        </div>
        <!-- Next products -->
        <div class="group relative">
            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="../static/img/drink_menu/fanta.png" class="h-full w-full object-cover object-center" alt="">
            </div>
                <div class="bg-stone-100 p-1 rounded-bl-md rounded-br-md group-hover:opacity-75">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="cartoon text-sm text-black">
                            <span aria-hidden="true" class="cartoon inset-0">Fanta</span>
                        </h3>
                    </div>
                    <p class="cartoon text-sm font-medium">$2,99</p>
                </div>
                {% if current_user.is_authenticated and current_user.role == 'customer' %}
                <a href="#" onclick="addItemToCart('add-to-cart-form-fanta'); return false;" class="type text-lg grid place-content-center py-2" id="select-pizza">SELECT</a>
                {% else %}
                <a href="/login">
                {% endif %}
                </a>
                <span id="notification"></span>
            </div>
            <form id="add-to-cart-form-fanta" action="{{ url_for('cart_api_blueprint.add_to_cart') }}" method="POST">
                <input type="hidden" name="name" value="Fanta">
                <input type="hidden" name="description" value="Cool down with a chill Fanta">
                <input type="hidden" name="price" value="2.99">
            </form>
        </div>
        <!-- Next products -->
        <div class="group relative">
            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-stone-100 lg:aspect-none group-hover:opacity-75 lg:h-80">
                <img src="../static/img/drink_menu/sprite.png" class="h-full w-full object-cover object-center" alt="">
            </div>
                <div class="bg-stone-100 p-1 rounded-bl-md rounded-br-md group-hover:opacity-75">
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="cartoon text-sm text-black">
                            <span aria-hidden="true" class="cartoon inset-0">Sprite</span>
                        </h3>
                    </div>
                    <p class="cartoon text-sm font-medium">$2,99</p>
                </div>
                {% if current_user.is_authenticated and current_user.role == 'customer' %}
                <a href="#" onclick="addItemToCart('add-to-cart-form-sprite'); return false;" class="type text-lg grid place-content-center py-2" id="select-pizza">SELECT</a>
                {% else %}
                <a href="/login">
                {% endif %}
                </a>
                <span id="notification"></span>
            </div>
            <form id="add-to-cart-form-sprite" action="{{ url_for('cart_api_blueprint.add_to_cart') }}" method="POST">
                <input type="hidden" name="name" value="Sprite">
                <input type="hidden" name="description" value="Cool down with a chill Sprite">
                <input type="hidden" name="price" value="2.99">
            </form>
        </div>
        <!-- Next products -->
    </div>
    </div>
</div>
    <!--M&L Buy Buttons-->
    {% if current_user.is_authenticated and current_user.role == 'customer' %}
        <div class="fixed bottom-16 p-3 right-0">
            <a href="./payment" type="button" class="text-white bg-black hover:bg-blue-500 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">
                <svg aria-hidden="true" class="w-9 h-9" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
                <span class="sr-only">Order Now</span>
            </a>
        </div>
    {% else %}
        <div class="fixed bottom-16 p-3 right-0">
            <a type="button" class="text-gray-500 bg-black opacity-50 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">
                <svg aria-hidden="true" class="w-9 h-9" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
                <span class="sr-only">Order Now</span>
            </a>
        </div>
    {% endif %}
    <!--M&L Footer-->
    <div class="fixed bottom-0 w-full">
        <footer class="bg-black rounded-lg shadow m-4">
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="type text-sm text-white sm:text-center">© 2023 <a href="#" class="hover:underline">M&L PIZZA™</a>. all rights reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
                <li>
                    <a href="#" class="cartoon mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="cartoon mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium md:mr-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="cartoon mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium">Contact</a>
                </li>
            </ul>
            </div>
        </footer>
    </div>
</body>
</html>