<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        (function(d) {
            let config = {
                    kitId: 'jfo5nkt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <script>
        (function(d) {
            let config = {
                    kitId: 'jfo5nkt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
    <link href="/static/css/build.css" rel="stylesheet">
    <link href="/static/css/input.css" rel="stylesheet">
    <title>M&L Order</title>
</head>

<body class="bg">
    <!--M&L Nav Bar-->
    <nav class="fixed top-10 w-full">
        <div class="mx-auto max-w-1xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <a href="/index"><img class="h-8 w-auto lg:block" src="../static/img/pizza.png" alt="M&L"></a>
                <a href="/index" class="cartoon text-black rounded-md px-3 py-2 text-xl font-medium">M&L Pizza</a>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class="flex space-x-4">
                    <a href="/index" class="cartoon transition-all text-white hover:bg-blue-500 rounded-md px-3 py-2 text-sm font-medium">Home</a>
                    <a href="/menu" class="cartoon text-white hover:bg-black rounded-md px-3 py-2 text-sm font-medium">Menu</a>
                    {% if current_user.is_authenticated and current_user.is_active and 'order_id' in session %}
                        <a href="/orders" class="cartoon transition-all text-white hover:bg-blue-500 rounded-md px-3 py-2 text-sm font-medium bg-blue-600">Order</a>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.is_active %}
                        <form action="/logout" method="POST">
                            <button type="submit" class="cartoon transition-all text-white hover:bg-blue-500 rounded-md px-3 py-2 text-sm font-medium">Logout</button>
                        </form>
                    {% else %}
                        <a href="/login" class="cartoon transition-all text-white hover:bg-blue-500 rounded-md px-3 py-2 text-sm font-medium">Login</a>
                    {% endif %}
                    <a href="#" class="cartoon transition-all text-white hover:bg-black rounded-md px-3 py-2 text-sm font-medium">Support</a>
                  </div>
            </div>
          </div>
        </div>
    </nav>
<!--M&L Hero Center Collumns-->
    <div class="h-screen flex flex-col justify-center items-center ">
        <div class="grid grid-cols-2 gap-4 place-content-center">
            <div class="pl-5">
                <div class="col-span-2 p-5 bg-white rounded-xl shadow-lg">
                    <h1 class="text-xl font-medium ">Your last order</h1>
                    <!--Order Item Start-->
                    {% if order %}
                        {% set total_price = 0 %}
                        {% for order_item in order.order_items %}
                            {% set total_price = total_price + order_item.price %}
                            <div class="flex justify-between items-center mt-6 pt-6">
                                <div class="flex items-center">
                                    <div class="flex flex-col ml-3">
                                        <span class="md:text-md font-medium">{{ order_item.name }}</span>
                                        <span class="text-xs font-light text-gray-400">#{{ order.id }}</span>
                                    </div>
                                </div>
                                <div class="flex justify-center items-center">
                                    <div class="pr-8">
                                        <span class="font-semibold text-xs">{{ order_item.price }}$</span>
                                    </div>
                                    <div>
                                        <i class="fa fa-close text-xs font-medium"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="flex justify-between items-center mt-6 pt-6 border-t">
                            <div class="flex justify-center items-end">
                                <span class="text-xl font-medium text-gray-600 mr-1">Total paid: <span id="total-price">{{ total_price }}</span>$</span>
                            </div>
                        </div>
                        <script>
                            let totalPrice = 0;
                            {% for order_item in order.order_items %}
                                totalPrice += {{ order_item.price }};
                            {% endfor %}
                            document.getElementById('total-price').textContent = totalPrice;
                        </script>
                    {% else %}
                        <p>No order found.</p>
                    {% endif %}
                </div>
            </div>
            <div>
                <img class="w-full px-8 text-4xl" src="../static/img/pm-pizza.png">
            </div>
        </div>
    </div>
<!--M&L Footer-->
    <div class="fixed bottom-0 w-full">
        <footer class="bg-black rounded-lg shadow m-4">
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="type text-sm text-white sm:text-center">© 2023 <a href="#" class="hover:underline">M&L PIZZA™</a>. all rights reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
                <li>
                    <a href="#" class="cartoon transition-all mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="cartoon transition-all mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium md:mr-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="cartoon transition-all mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium">Contact</a>
                </li>
            </ul>
            </div>
        </footer>
    </div>

</body>
</html>