<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        (function(d) {
            let config = {
                    kitId: 'jfo5nkt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>

    <script>
        (function(d) {
            let config = {
                    kitId: 'jfo5nkt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement, t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout), tk = d.createElement("script"), f = false,
                s = d.getElementsByTagName("script")[0], a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>
    <script>
        function removeItem(itemName) {
            fetch(`/cart/${itemName.replace(' ', '-')}`, {method: 'DELETE'})
                .then(() => window.location.href = '/payment');
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/output.css" rel="stylesheet">
    <title>M&L Payment</title>
</head>
<body>
    <div class="h-screen bg-gray-300">
        <div class="py-52">
        <div class="max-w-md mx-auto bg-gray-100 shadow-lg rounded-lg  md:max-w-5xl">
            <div class="md:flex ">
                <div class="w-full p-4 px-5 py-5">
                    <div class="md:grid md:grid-cols-3 gap-2 ">
                        <div class="col-span-2 p-5">
                            <h1 class="text-xl font-medium ">M&L Order Payment</h1>
                            <!--Order Item-->
                            <div class="cart-items">
                                {% for item in session.get('cart_items', []) %}
                                <div class="flex justify-between items-center mt-6 pt-6 cart-item">
                                    <div class="flex items-center">
                                        <img src="../static/img/pm-pizza.png" width="60" class="rounded-full">
                                        <div class="flex flex-col ml-3">
                                            <span class="md:text-md font-medium item-name">{{ item.name }}</span>
                                        </div>
                                    </div>
                                    <div class="flex justify-center items-center">
                                        <div class="pr-8">
                                            <span class="text-xs font-medium item-price">{{ item.price|floatformat(2) }}$</span>
                                        </div>
                                        <div>
                                            <a href="#" onclick="removeItem('{{ item.name }}')" class="remove-item">X</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <!--Order total price-->
                            <div class="flex justify-between items-center mt-6 pt-6 border-t">
                                <div class="flex items-center">
                                    <a href="/menu" class="text-md  font-medium text-blue-500 hover:text-blue-600">Back to Order Menu</a>
                                </div>
                                <div class="cart-items-subtotal">
                                  {% set subtotal = 0 %}
                                  {% if session.get('cart_items') %}
                                    {% for item in session.get('cart_items', []) %}
                                      {% set subtotal = subtotal + item.price %}
                                    {% endfor %}
                                    <div class="cart-items-total">
                                        <span id="subtotal" class="text-lg font-bold text-gray-800">Subtotal: {{ subtotal|floatformat(2) }}$</span>
                                    </div>
                                    <script>
                                      let subtotal = 0;
                                      const cartItems = {{ session.get('cart_items', [])|tojson }};
                                      cartItems.forEach(item => {
                                        subtotal += item.price;
                                      });
                                      document.getElementById('subtotal').textContent = `Subtotal: ${subtotal.toFixed(2)}$`;
                                    </script>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                        <!--Order Card Details-->
                        <div class=" p-5 bg-gray-800 rounded overflow-visible">
                            <span class="text-xl font-medium text-gray-100 block pb-3">Card Details</span>
                            <span class="text-xs text-gray-400 ">Card Type</span>
                            <div class="overflow-visible flex justify-between items-center mt-2">
                                <div class="rounded w-52 h-28 bg-gray-500 py-2 px-4 relative right-10">
                                    <span class="italic text-lg font-medium text-gray-200 underline">VISA</span>
                                    <div class="flex justify-between items-center pt-4 ">
                                        <span class="text-xs text-gray-200 font-medium">****</span>
                                        <span class="text-xs text-gray-200 font-medium">****</span>
                                        <span class="text-xs text-gray-200 font-medium">****</span>
                                        <span class="text-xs text-gray-200 font-medium">****</span>
                                    </div>
                                    <div class="flex justify-between items-center mt-3">
                                        <span class="text-xs  text-gray-200">Super Mario Brothers!</span>
                                        <span class="text-xs  text-gray-200">04/23</span>
                                    </div>
                                </div>
                                <div class="flex justify-center  items-center flex-col">
                                    <img src="https://img.icons8.com/color/96/000000/mastercard-logo.png" width="40" class="relative right-5" />
                                    <span class="text-xs font-medium text-gray-200 bottom-2 relative right-5">mastercard.</span>
                                </div>
                            </div>
                            <div class="flex justify-center flex-col pt-3">
                                <label class="text-xs text-gray-400 ">Name on Card</label>
                                <input type="text" class="focus:outline-none w-full h-6 bg-gray-800 text-white placeholder-gray-300 text-sm border-b border-gray-600 py-4" placeholder="Mario Brothers">
                            </div>
                            <div class="flex justify-center flex-col pt-3">
                                <label class="text-xs text-gray-400 ">Card Number</label>
                                <input type="text" id="input" maxlength="16" class="focus:outline-none w-full h-6 bg-gray-800 text-white placeholder-gray-300 text-sm border-b border-gray-600 py-4" placeholder="****     ****      ****      ****">
                            </div>
                            <div class="grid grid-cols-3 gap-2 pt-2 mb-3">
                                <div class="col-span-2 ">
                                    <label class="text-xs text-gray-400">Expiration Date</label>
                                    <div class="grid grid-cols-2 gap-2">
                                        <input type="text" maxlength="2" class="focus:outline-none w-full h-6 bg-gray-800 text-white placeholder-gray-300 text-sm border-b border-gray-600 py-4" placeholder="mm">
                                        <input type="text" maxlength="4" class="focus:outline-none w-full h-6 bg-gray-800 text-white placeholder-gray-300 text-sm border-b border-gray-600 py-4" placeholder="yyyy">
                                    </div>
                                </div>
                                <div class="">
                                    <label class="text-xs text-gray-400">CVV</label>
                                    <input type="te xt" maxlength="3" class="focus:outline-none w-full h-6 bg-gray-800 text-white placeholder-gray-300 text-sm border-b border-gray-600 py-4" placeholder="XXX">
                                </div>
                            </div>
                            <form method="POST" action="{{ url_for('cart_api_blueprint.checkout') }}">
                                <input type="submit" value="Check Out" class="h-12 w-full bg-blue-500 rounded focus:outline-none text-white hover:bg-blue-600"{% if not session.get('cart_items') %} disabled{% endif %}>
                            </form>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        </div>
    </div>
<!--M&L Footer-->
    <div class="fixed bottom-0 w-full">
        <footer class="bg-black rounded-lg shadow m-4">
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="type text-sm text-white sm:text-center">© 2023 <a href="#" class="hover:underline">M&L PIZZA™</a>. all rights reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
                <li>
                    <a href="#" class="cartoon transition-all mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="cartoon transition-all mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium md:mr-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="cartoon transition-all mr-4 hover:bg-white hover:text-black rounded-md px-3 py-2 text-sm font-medium">Contact</a>
                </li>
            </ul>
            </div>
        </footer>
    </div>
</body>
</html>